GIN_PORT=7273
GIN_READTIMEOUT=5
GIN_WRITETIMEOUT=10
GIN_IDLETIMEOUT=120

DB_DSN=postgresql://apple:20201028fitronTina@127.0.0.1:5432/go_backendtest?sslmode=disable
PSQL_USER=ken
PSQL_DB=go_backendtest
PSQL_PASSWORD=kenThompson

REDIS_URL=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
